.App {
  text-align: center;
}

@media (min-width: 425px) {
  .container{
      max-width: 600px;
      border: 2px solid black;
  }
}

.row{
  padding-top: 20px;
}

.main-box{
  width: 60%;
  margin: auto;
}